:root {
    font: 16px / 1 sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    /* flex-direction: column;
    justify-content: center; */
}

.home-page main {
  height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 45%);
}

.content-container {
  display: flex;
  overflow: hidden;
}

/* Navigation Sidebar */
.sidebar-container {
  background-color: #f5f9fc;
  margin-left: -20px;
}

.nav-sidebar {
  width: 200px;
  padding-top: 25px;
}

.sidebar-link {
  padding: 10px;
}

.sidebar-link:hover {
  border-right: 5px solid dimgray;
  background-color: gainsboro;
}

.sidebar-icon {
  position: relative;
  bottom: 15.75rem;
  left: 2rem;
  font-size: 1.5rem;
  color: navy;
}

.photo-gallery ol {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: scroll;
    justify-content: center;
    margin: 0;
}

ol li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

img {
    width: 100vw;
    border-radius: 5px;
    margin: 0rem 0rem;
    height: 80vh
}

/* About Me */
.about-me-container {
  background-image: url("./images/Footer_Bkground.png");
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.about-me-container h3 {
  text-align: center;
  font-weight: 200;
  color: #fff;
}

.about-me-container p {
  background: rgba(255,255,255, 0.65);
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.about-me-container i.fas.fa-bars {
  color: white;
}

/* Contact Form */

.contact-form-container i.fas.fa-bars {
  color: white;
}

.contact-information-form {
  width: 90%;
}

.content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-send {
  border: 1px solid #f5f9fc;
  background-color: #f5f9fc;
  border-radius: 5px;    
  text-transform: uppercase;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.contact-form-container {
    background-image: url("./images/contact-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-position-x: center;
}

.contact-form-container h3 {
  color: #fff;
  font-weight: 200;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.contact-form input {
  margin-top: 1rem;
  width: 100%;
}

textarea {
  width: 100%;
  margin-top: 1rem;
}

footer {
    background-image: url("./images/Footer_Bkground.png");
    background-position: bottom;
    height: 20vh;
}

footer a {
    background-color: #f5f9fc;
}

footer p {
    background-color: #f5f9fc;
    padding: 1rem;
    text-align: center;
}

@media only screen and (min-width: 580px) 
  and (max-width: 768px) {
    img {
      width: 100%;
      border-radius: 5px;
      margin: 0rem 0rem;
      height: 100%;
  }

  .photo-gallery {
    width: 100vw;
  }

  .photo-gallery ol {
    list-style: none;
    padding: 0;
    display: grid;
    height: 100vh;
    overflow: scroll;
    margin: 0;
    grid-template-columns: 1fr 1fr;
  }
} 

@media only screen and (min-width: 768px) 
  and (max-width: 1024px) {
    img {
      width: 100%;
      border-radius: 5px;
      margin: 0rem 0rem;
      height: 100%;
  }

    .photo-gallery {
      width: 100vw;
    }

    .photo-gallery ol {
      list-style: none;
      padding: 0;
      display: grid;
      height: 100vh;
      overflow: scroll;
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px) {
  
  
  .photo-gallery {
    width: 100vw;
  }

  .photo-gallery ol {
    list-style: none;
    padding: 0;
    display: grid;
    height: 100vh;
    overflow: scroll;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}