:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

section.content-container {
  height: 100vh;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

main {
  background-image: url('./images/galleryBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: scroll;
  padding: 1rem 0 0;
}

ol li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  justify-content: flex-end;
}

ol li p {
  background-color: hsla(245, 41%, 69%, 0.7);
  border: 2px solid hsla(112, 85%, 59%, 0.52);
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

ol li p.double-digit {
  background-color: hsla(245, 41%, 69%, 0.7);
  border: 2px solid hsla(112, 85%, 59%, 0.52);
  padding: 0.75rem 1rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

img {
  width: 75%;
  margin: 0 0 1rem;
  box-shadow: 0px 0px 25px 5px hsla(112, 85%, 59%, 0.52);
}
